{% extends "base.html" %}

{% block page_title %}

    <h2 class="text-slate-900 mt-5 mb-3 text font-extrabold">Blog Posts</h2>
{% endblock page_title %}

{% block page_content %}
    {% block posts %}
        {% for post in posts %}
            <h3 class="text-3xl text-amber-500 underline font-mono"><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
            <small class="text-[10px] font-medium">
                {{ post.created_on.date }} | Categories:
                {% for category in post.categories.all %}
                    <a href="{% url 'blog_category' category.name %}" class=" italic underline text-blue-400">
                        {{ category.name }}
                    </a>
                {% endfor %}
            </small>
            <p class="text-[15px] mt-3 mb-4 font-serif text-[whitesmoke]">{{ post.body | slice:":400" }}...</p>
        {% endfor %}
    {% endblock posts %}
{% endblock page_content %}